*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: system-ui;
}

ul {
  list-style: none;
  padding: 0;
}

nav {
  padding: 14px 20px;
  background-color: #dbdbe4;
}

a {
  text-decoration: none;
  color: inherit;
}

.menu {
  min-height: 1000px;
  font-size: 22px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: end;
  justify-content: flex-start;
  /* flex-wrap: wrap; */
}

.menu > li {
  color: #334;
  border: 2px solid orange;
}

.menu > li:hover {
  text-decoration: underline #ee4c0b 3px;
}
